# Git
.git
.gitignore

# Python
**/__pycache__/
**/*.egg-info/
**/.mypy_cache/
**/.ruff_cache/

# Virtual environments
**/venv/
**/.venv/

# IDE
**/.vscode/
**/.idea/
**/*.swp
**/*.swo

# OS
**/*.DS_Store
**/*.Thumbs.db

# Development files
**/*.egg-info/
**/build/
**/dist/

# Test files
**/tests/
**/test_*

**/node_modules/